# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - web-accessibility-accelerator

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy dist to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: web-accessibility-accelerator
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_76A1534914BB413A954F8A52DF2FDBAF }}
          package: ./dist